Repository TechnoTitans/TitanWare2024, pull requests merged in 2024-02, with the labels that each got.

#26 Move out OdometryThreadRunner from Swerve
  simgui.json
  src/main/java/frc/robot/constants/HardwareConstants.java
  src/main/java/frc/robot/subsystems/drive/OdometryThreadRunner.java
  src/main/java/frc/robot/subsystems/drive/Swerve.java
  src/main/java/frc/robot/subsystems/drive/SwerveModule.java
  src/main/java/frc/robot/subsystems/drive/SwerveModuleIOTalonFX.java
  src/main/java/frc/robot/subsystems/drive/SwerveModuleIOTalonFXSim.java
  src/main/java/frc/robot/subsystems/gyro/Gyro.java
  src/main/java/frc/robot/subsystems/gyro/GyroIOPigeon2.java
  src/main/java/frc/robot/subsystems/gyro/GyroIOSim.java
  src/test/java/frc/robot/subsystems/drive/SwerveTest.java
Labels: swerve

#25 Torquefoccurrent simulation
  simgui-ds.json
  src/main/java/frc/robot/subsystems/drive/SwerveModuleIOTalonFXSim.java
  vendordeps/Phoenix6.json
Labels: simulation

#27 Fix Swerve Jittering in Simulation
  src/main/java/frc/robot/constants/Constants.java
  src/main/java/frc/robot/subsystems/drive/SwerveModule.java
  src/main/java/frc/robot/subsystems/drive/SwerveModuleIO.java
  src/main/java/frc/robot/subsystems/drive/SwerveModuleIOTalonFXSim.java
  src/main/java/frc/robot/subsystems/gyro/GyroIOSim.java
  src/main/java/frc/robot/utils/control/DeltaTime.java
  src/main/java/frc/robot/utils/sim/SimUtils.java
  src/main/java/frc/robot/utils/sim/motors/CTREPhoenix6TalonFXSim.java
Labels: bug, swerve, simulation
